/* start of general css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #FFD15B;
  color: black;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.section-padding {
  padding: 60px 0;
}

.container {
  width: 100%;
  margin: auto;
  padding: 0 20px;
}


.section-header {
  width: 95%;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

.section-header h2 {
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 10px;
}

.section-header p {
  font-size: 18px;
  color: oklch(0.439 0 0);
  font-weight: 600;
}

.line {
  width: 120px;
  margin: 10px auto 0;
  height: 7px;
  background-color: black;
}

/* end of general css */

/* ------------------------------------------------- */


/* start of navbar */
.navbar {
  position: fixed;
  top: 15px;
  left: 0;
  z-index: 999;
}

.navbar-inner {
  padding: 12px 30px;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 15px;

}

.navbar-logo span {
  font-size: 26px;
  font-weight: 800;
}

.navbar-logo .logo-span {
  color: oklch(0.705 0.213 47.604);
}

.navbar-inner a,
.sidebar-links a,
.sidebar-subscribe a {
  transition: all 0.4s ease-in-out;
  font-weight: 700;
}

.navbar-inner a {
  font-size: 18px;
}

.navbar-links,
.subscribe-link,
.menu-checkbox {
  display: none;
}

.navbar-links i {
  font-size: 10px;
  margin: 0 15px;
  color: #D1D5DC;
}

.subscribe-link a {
  background-color: #FFD15B;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid black;
  display: inline-block;
}

.menu-icon {
  gap: 4px;
  cursor: pointer;
  border: 2px solid black;
  padding: 8px;
  border-radius: 3px;
  box-shadow: 3px 3px 0 black;
  background-color: white;
  transition: all 0.4s ease-in-out;
}

.menu-icon span {
  display: block;
  width: 18px;
  height: 3px;
  background-color: black;
}

.sidebar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -300px;
  width: 300px;
  background-color: #FFFFFF;
  border-left: 3px solid black;
  transition: right 0.4s ease-in-out;
  z-index: 10000;
  padding: 30px 20px;
  gap: 30px;
}

.sidebar-header {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 15px 0;
}

.sidebar-header span {
  font-size: 22px;
  font-weight: 900;
}

.sidebar-header .close-btn {
  background: white;
  border: 2px solid black;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.sidebar-header .close-btn:hover {
  background-color: #FFE2E2;
  color: #FF9779;
}

.sidebar-links a {
  font-size: 16px;
  display: inline-block;
}

.sidebar-links a:hover,
.sidebar-subscribe a:hover {
  transform: translateY(-4px);
}

.sidebar-links a:hover {
  color: rgb(255, 122, 80);
}

.sidebar-subscribe a {
  background-color: #FFD15B;
  padding: 15px;
  border: 4px solid black;
  box-shadow: 4px 4px 0 black;
  display: block;
  text-align: center;
}

.menu-icon:hover {
  transform: translateY(-3px);
}

.menu-checkbox:checked~.sidebar-menu {
  right: 0;
}

/* end of navbar */

/* ------------------------------------------------------------------- */


/*  start of hero-section  */

.hero-section {
  background-color: #FFF085;

}

.hero-section,
.hero-content .hero-paragraph,
.hero-img-box span {
  border: 2px solid black;
}

.hero-section .inner {
  padding-top: 60px;
  position: relative;
}

.hero-content {
  position: relative;
}

.trapezoid-shape,
.hero-rect-shape,
.hero-img-box span {
  position: absolute;
}

.trapezoid-shape {
  top: 8%;
  left: 60%;
  width: 80px;
  height: 80px;
  background-color: rgba(158, 57, 57, 0.06);
  border: 1px solid rgba(245, 80, 80, 0.1);
  transform: rotate(45deg);

}

.hero-rect-shape {
  top: -45px;
  left: 0;
  width: 100px;
  height: 80px;
  transform: skew(-5deg);
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}


.hero-content .trending-badge {
  font-size: 12px;
  font-weight: 700;
  background-color: #000000;
  color: white;
  padding: 11px 16px;
  display: inline-block;
  transform: rotate(-2deg);
}

.hero-content .trending-badge,
.hero-content .hero-paragraph,
.hero-img-box span {
  box-shadow: 3px 3px 0 black;
}

.hero-content h1 {
  margin: 20px 0;
  font-size: 55px;
  font-weight: 900;
  text-shadow: 3px 3px black;
}

h1 .title-thoughts {
  color: oklch(0.577 0.245 27.325);
  display: block;

}

h1 .title-bold {
  color: oklch(0.546 0.245 262.881);
}

.hero-content .hero-paragraph {
  font-size: 21px;
  line-height: 28px;
  font-weight: 500;
  background-color: white;
  padding: 20px 16px;
  margin-bottom: 25px;
}


.hero-buttons button {
  flex: 1;
  min-width: 150px;
  color: white;
  background-color: black;
  padding: 25px 0;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.15s;
  cursor: pointer;
}

.hero-buttons button,
.hero-img-box img {
  box-shadow: 5px 5px 0 black;
}

.hero-buttons .btn-intro {
  background-color: white;
  color: black;
}

.hero-buttons .btn-intro,
.hero-img-box img {
  border: 4px solid black;
}

.hero-buttons button:hover {
  transform: translate(5px, 5px);
  box-shadow: 0px 0px 0px #000000;
}

.hero-buttons button i {
  margin-right: 10px;
}

.hero-img-box {
  height: 350px;
  position: relative;
  padding-left: 0;
  margin-top: 10px;
  transition: all 0.2s;
}

.hero-img-box img {
  height: 100%;
  margin-top: 40px;
  object-fit: cover;
  display: block;
}

.hero-img-box span {
  background-color: #FB2C36;
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 10px;
  right: -2%;
  top: 20px;
  transform: rotate(10deg);
  z-index: 99;
}

.hero-img-box:hover {
  transform: translateX(2px) translateY(2px);
}

/*  end of hero-section  */

/* ------------------------------------------------------------------- */

/* start of latest articles */

.latest-articles {
  border: 2px solid black;
  background-color: #F5F5F5;
}


.articles-header h2 {
  font-size: 35px;
  font-weight: 900;
  flex: 1;
}

.articles-header .trending-badge {
  font-size: 16px;
  font-weight: 700;
  background-color: #000000;
  color: white;
  box-shadow: 3px 3px 0 black;
  transform: rotate(2deg);
  flex-shrink: 0;
  display: none;

}

.latest-cards .latest-card,
.right-cards .right-card {
  border: 4px solid black;
  box-shadow: 3px 3px 0 black;
  margin-top: 30px;
  background-color: white;
  padding: 30px 25px;
  transition: all 0.5s;
}

.card-image {
  width: 130px;
  height: 100px;
  position: relative;
  margin-bottom: 10px;
}

.card-image img {
  width: 100%;
  height: 100%;
  display: block;
  border: 2px solid black;
  object-fit: cover;
}


.card-image span,
.card-content span {
  font-weight: 700;
  border: 2px solid black;
}


.card-image span {
  background-color: #FB2C36;
  color: white;
  font-size: 11px;
  padding: 2px 5px;
  position: absolute;
  right: -4%;
  top: -8%;
  transform: rotate(10deg);
}

.latest-card .card-image .card-hot {
  right: -5%;
  transform: rotate(-10deg);
  background-color: #2B7FFF;
}

.latest-card .card-image .card-viral {
  top: -6%;
  transform: rotate(45deg);
  background-color: #AD46FF;
}

.card-content span {
  color: black;
  font-size: 11px;
  padding: 5px 10px;
  box-shadow: 3px 3px 0 black;
}

.latest-card .card-content .card-tech {
  background-color: #FFDF20;
}

.latest-card .card-content .card-design {
  background-color: #7BF1A8;
}

.latest-card .card-content .card-culture {
  background-color: #FDA5D5;
}

.latest-card p {
  margin: 10px 0;
  font-size: 14px;
  line-height: 22px;
}

.latest-card h3 {
  margin-top: 20px;
}

.latest-cards .latest-card:hover {
  transform: translate(-5px, -5px);
  box-shadow: 6px 6px 0 black;
}

.latest-card:hover .card-heading1 {
  color: oklch(0.577 0.245 27.325);
}

.latest-card:hover .card-heading2 {
  color: oklch(0.546 0.245 262.881);
}

.latest-card:hover .card-heading3 {
  color: oklch(0.558 0.288 302.321);
}

.latest-card .card-info span {
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
}

.latest-card .card-info .card-info-span {
  color: oklch(0.577 0.245 27.325);
}

.load-more-wrapper {
  display: flex;
  justify-content: center;
}

.load-more-wrapper i {
  font-size: 15px;
}


.load-more-wrapper button {
  color: white;
  background-color: black;
  padding: 12px 20px;
  font-size: 15px;
  font-weight: 700;
  box-shadow: 5px 5px 0 black;
  transition: all 0.15s ease-in-out;
  margin-top: 40px;
  cursor: pointer;
}

.load-more-wrapper button:hover {
  transform: translate(5px, 5px);
  box-shadow: 0px 0px 0px #000000;
}


.right-cards .right-card {
  box-shadow: 5px 5px 0 black;

}

.right-card h3 {
  font-size: 22px;
  font-weight: 900;
}

.right-card .trending-item {
  margin-top: 20px;
}

.trending-item .trending-item-number {
  font-size: 32px;
  font-weight: 900;
  margin-right: 15px;
  line-height: 35px;
}

.trending-item .number1 {
  color: oklch(0.637 0.237 25.331);
}

.trending-item .number2 {
  color: oklch(0.623 0.214 259.815);
}

.trending-item .number3 {
  color: oklch(0.627 0.265 303.9);
}

.trending-text span {
  font-size: 12px;
}


.trending-text .heading {
  cursor: pointer;
  font-size: 15px;
}

.trending-text .trending-text-heading1:hover {
  color: oklch(0.637 0.237 25.331);

}

.trending-text .trending-text-heading2:hover {
  color: oklch(0.623 0.214 259.815);
}

.trending-text .trending-text-heading3:hover {
  color: oklch(0.627 0.265 303.9);
}



.categories span {
  display: block;
  border: 2px solid black;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.4s;
}

.categories span:hover {
  transform: translate(-3px, -3px);
  box-shadow: 5px 5px 0px #000000;
}

.categories .tech {
  background-color: oklch(97.3% .071 103.193);
}

.categories .tech:hover {
  background-color: #FFDF20;
}

.categories .design {
  background-color: oklch(96.2% .044 156.743);
}

.categories .design:hover {
  background-color: #7BF1A8;
}

.categories .culture {
  background-color: oklch(94.8% .028 342.258);
}

.categories .culture:hover {
  background-color: #FDA5D5;
}

.categories .opinion {
  background-color: oklch(93.2% .032 255.585);
}

.categories .opinion:hover {
  background-color: #8EC5FF;
}

.categories .tutorials {
  background-color: oklch(94.6% .033 307.174);
}

.categories .tutorials:hover {
  background-color: #DAB2FF;
}


/*  end of  latest articles */

/* ------------------------------------------------------------------- */


/* start of authors section */

.authors-section {
  border: 2px solid black;
  background-color: #FFD230;
  position: relative;
}

.authors-section .trapezoid-shape {
  top: 2%;
  left: 63%;
  width: 140px;
  height: 140px;

}

.author-image {
  width: 30%;
  margin: auto;
}


.author-image img,
.authors-wrapper .author-card {
  border: 4px solid black;
}

.author-image img {
  width: 100%;
  display: block;

}

.authors-wrapper {
  padding-top: 30px;
}

.authors-wrapper .author-card {
  box-shadow: 5px 5px 0 black;
  margin-top: 30px;
  padding: 40px 25px;
  transition: all 0.5s;
  text-align: center;
  position: relative;
}

.authors-wrapper .author-card-background1 {
  margin-top: 0;
}

.author-card h3 {
  margin: 15px 0 10px 0;
  font-size: 26px;
  font-weight: 900;
}

.author-card p {
  font-size: 14px;
  font-weight: 700;
  color: oklch(0.439 0 0);
}

.author-card .author-paragraph {
  font-weight: 400;
  margin: 15px 0;
  line-height: 23px;
}

.authors-wrapper .author-card-background1 {
  background-color: #FEF9C2;
}

.authors-wrapper .author-card-background2 {
  background-color: #DBFCE7;
}

.authors-wrapper .author-card-background3 {
  background-color: #FCE7F3;
}

.authors-wrapper .author-card:hover {
  transform: translate(-5px, -5px);
  box-shadow: 6px 6px 0 black;
}

.author-card:hover .author-heading1 {
  color: oklch(0.577 0.245 27.325);
}

.author-card:hover .author-heading2 {
  color: oklch(0.546 0.245 262.881);
}

.author-card:hover .author-heading3 {
  color: oklch(0.558 0.288 302.321);
}

.author-social-links {
  margin-top: 40px;
}

.author-social-links a {
  background-color: black;
  padding: 12px;
  color: white;
  transition: all 0.4s;
  display: inline-block;
}

.author-social-links a:hover {
  transform: translate(-3px, -3px);
  box-shadow: 5px 5px 0px #000000;
  border: 3px solid black;
}

.author-social-links .twitter:hover {
  background-color: #1DA1F2;
}

.author-social-links .linkedin:hover {
  background-color: #155DFC;
}

.author-social-links .instagram:hover {
  background-color: #E60076;
}



.author-image span {
  background-color: #FB2C36;
  color: white;
  font-size: 11px;
  font-weight: 700;
  padding: 3px 8px;
  border: 2px solid black;
  position: absolute;
  right: 5%;
  top: 5%;
  transform: rotate(13deg);
}

.author-image .lead-badge {
  transform: rotate(-10deg);
  background-color: #2B7FFF;
}

.author-image .viral-badge {
  transform: rotate(45deg);
  background-color: #AD46FF;

}

/* end of authors section */
/* ------------------------------------------------------------------- */




/* start of community section  */

.community-section {
  background-color: #F5F5F5;
  border: 2px solid black;

}


.left-side h3 {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 20px;
}

.left-side .left-side-paragraph,
.right-side .testimonial-card {
  border: 2px solid black;
  padding: 20px;
}

.left-side .left-side-paragraph {
  box-shadow: 3px 3px 0 black;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  background-color: white;
}

.left-side .feature-item {
  margin-top: 30px;
  font-weight: 600;
  width: 100%;
}


.feature-item span {
  padding: 10px;
  background-color: #FB2C36;
  border: 2px solid black;
}

.feature-item i {
  color: white;
}

.feature-item .icon-blue {
  background-color: #2B7FFF;
}

.feature-item .icon-purple {
  background-color: #AD46FF;
}

.feature-item .icon-green {
  background-color: #00C950;
}

.left-side .join-btn {
  color: white;
  background-color: black;
  padding: 20px 50px;
  font-weight: 700;
  box-shadow: 5px 5px 0 black;
  transition: all 0.15s ease-in-out;
  display: inline-block;
  margin: 50px 0;
  font-size: 21px;
  cursor: pointer;
}

.left-side .join-btn:hover {
  transform: translate(5px, 5px);
  box-shadow: 0px 0px 0px #000000;
}

.community-wrapper .right-side {
  border: 4px solid black;
  box-shadow: 5px 5px 0 black;
  padding: 30px;
  background-color: white;

}

.right-side .testimonial-card {
  margin-top: 25px;
}

.testimonial-card p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}

.testimonial-card .card-image {
  width: 50px;
  height: 50px;
}

.testimonial-card .card-info {
  margin-top: 20px;
}

.testimonial-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.right-side h3 {
  font-size: 26px;
  font-weight: 900;
}

.testimonial-card h4 {
  font-weight: 700;
}

.testimonial-card .card-content p {
  font-size: 12px;
  font-weight: 400;
  color: oklch(0.439 0 0);
}

.right-side .pink-card {
  background-color: #FEF2F2;
}

.right-side .green-card {
  background-color: #EFF6FF;
}

.right-side .gray-card {
  background-color: #FAF5FF;
}

/* end of community section */
/* ------------------------------------------------------------------- */


/* start of footer section */


.footer-section {
  background-color: black;
  color: white;
}

.footer-brand h3 {
  font-size: 26px;
  font-weight: 900;
}

.footer-brand .footer-icon {
  color: black;
  background-color: white;
  padding: 13px 15px;
  font-size: 20px;
}

.footer-brand .brand-bio {
  margin: 30px 0 40px 0;
  line-height: 26px;
}

.footer-categories h3,
.footer-newsletter h3 {
  font-size: 21px;
  font-weight: 900;
}

.footer-menu li a {
  color: white;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.4s;
}


.footer-menu li {
  margin-top: 20px;
}

.footer-section a:hover {
  color: oklch(0.905 0.182 98.111);
}

.footer-newsletter h3 {
  margin: 30px 0 30px 0;
}


.footer-newsletter p {
  font-weight: 400;
}

.footer-newsletter input,
.footer-newsletter button {
  margin: 20px 0;
  padding: 17px 20px;
}

.footer-newsletter .subscribe-btn {
  margin-top: 0;
}


.footer-newsletter input {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

input::placeholder {
  color: rgb(175, 170, 170);
  font-size: 16px;
  font-weight: 600;
}

input:focus {
  outline: none;
  border-color: #FFDF20;
}


.footer-newsletter button {
  background-color: #FDC700;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.4s;
  border: none;
}

.footer-newsletter button:hover {
  transform: translate(5px, 5px);
  outline: 1px solid rgba(248, 217, 38, 0.2);
  outline-offset: 3px;
}

.footer-top {
  border-bottom: 4px solid white;
  padding-bottom: 30px;
}

.footer-bottom {
  margin-top: 30px;
}

.footer-bottom p {
  font-weight: 600;
  margin-bottom: 20px;
}

.footer-policies a {
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.footer-policies .policies-menu li {
  display: inline-block;
}


/* end of footer section */